body {
    background-color: #F4F7FB !important;
}

.cards {
    background-color: white;
    padding: 20px;
    border-radius: 10%;
}

.footer-link {
    text-decoration: none;
}

.people-trust-our-app {
    margin-bottom: 26%;
}

.banner-text {
    color: white;
    padding-top: 25%;
}

#financingValue, #tenureValue, .list-group, .btn-apply-now {
    margin-bottom: 0;
    padding-bottom: 0;
}

.btn-apply-now {
    margin-top: 10px;
}

.card {
    position: relative;
    border-radius: 20px;
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card .overlay-text h3 {
    position: absolute;
    bottom: 10px; 
    left: 10px;
    color: white;
    z-index: 2; 
    transition: bottom 0.5s ease 0.5s; 
}

.card .overlay-text p {
    position: relative;
    bottom: -130px; 
    left: 10px;
    color: white;
    z-index: 1;
    transition: bottom 0.5s ease 0.5s;
}

.card .overlay-text .card-btn {
    position: relative;
    bottom: -70px; 
    left: 10px;
    background-color: #FD4A5C;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: bottom 0.5s ease 0.5s; 
}

.card:hover .overlay-text h3 {
    bottom: 150px; 
}

.card:hover .overlay-text p {
    bottom: 40px; 
}

.card:hover .overlay-text .card-btn {
    bottom: 40px; 
}

.card:hover {
    transform: scale(1.05); 
}
.card-btn{
    background-color: #41649C;
}