body{
    background-color: #F4F7FB !important ; ;
}
.cards{
    background-color: white;
    padding: 20px;
    border-radius: 10%;
}
.footer-link{
    text-decoration: none;
}
.people-trust-our-app{
    margin-bottom: 26%;
}
.banner-text{
    color: white;
    padding-top: 25%;
}
#financingValue, #tenureValue, .list-group, .btn-apply-now {
    margin-bottom: 0 ; 
    padding-bottom: 0 ; 
}

.btn-apply-now {
    margin-top: 10px; 
}