body {
    background-image: url('/img/Frame%201321316076.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer-link{
    text-decoration: none;
}
