@font-face {
    font-family: "Avenir Arabic";
    src: url(../font/alfont_com_AlFont_com_AvenirArabic-Medium.otf);
  }
body{
    font-family: "Avenir Arabic";
}
header {
  backdrop-filter: blur(40px);
  background: linear-gradient(90.69deg, rgba(240, 240, 240, 0.8) -33.72%, rgba(232, 237, 247, 0.8) 45.42%, rgba(255, 255, 255, 0.8) 97.01%);
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%; 

}

.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
  }
  
  .navbar-brand {
    font-size: 2rem; 
  }
  .dropdown-menu {
    font-size: 1.2rem; 
  }
  .first-section{
    background-image: url("/img/f20fe03f1a34f28d4ec14a5c35a3391e.jpg");
    min-height:600px ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.first-section .overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(119.36deg, rgba(26, 68, 136, 0.95) 26.98%, rgba(7, 17, 34, 0.76) 92.51%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.first-text-overlay {
    color: #F9485C;
    font-size: 2rem;
  }
.seconed-text-overlay{

    font-family: Avenir Arabic;
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    color: white;
}
.third-text-overlay{
    font-family: Avenir Arabic;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-transform: capitalize;
    color: white;
}
.sar-part{
    font-family: Avenir Arabic;
    font-weight: 900;
    font-size: 20px;
    line-height: 100%;
    text-transform: capitalize;
}
.dropdown-css{
  padding: 25px;
  border-radius: 10px;
}
.button-download-app {
    gap: 10px;
    border-radius: 24px;
    padding: 10px;
    background-color: #F9485C;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: background-color 1s ease; 
}

.button-download-app:hover {
    background-color: #12305F;
}
.about-img-wrapper {
  position: relative;
  width: 100%;
  height: 300px; 
  padding: 20px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  width: 80%; 
  height: 100%;
}

.image-btn {
  margin-left: 80%; 
}

.info-about-mora {
  color: #102953;
  font-weight: 900;
  font-size: 38px;
  line-height: 150%;
}

.text-decoration {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
}
.footer a {
  color: white;
  text-decoration: none; 
}

.footer a:hover {
  color: #ccc; 
}
.footer-below-mora{
  font-weight: 300;
  line-height: 130%;
  vertical-align: middle;
  
}
.header-of-footer{
  color: #FFFFFF;
  text-decoration: none;
}
.under-header{
  color: #EEEEEE;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
}
.all-right-reserved{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #0A1C38;
  color: white;
}
.red-line {
  margin-top: 80px;
  margin-right: 80px;
  width: 1px;
  height: 100px;             
  background-color: red;    
  border-radius: 5px;
}
.red-line-sec {
  margin-top: 150px;
  margin-right: 80px;
  width: 1px;
  height: 100px;             
  background-color: red;    
  border-radius: 5px;
}
